.page_wrapper {
    display: flex;
    flex-direction: row-reverse;
}
.checkbox_wrapper {
    display: flex;
    flex-direction: row;
}
.checkbox_form {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 2%;
}
.chat{
    display: flex;
    flex-direction: column;
}
.chat_wrapper {
    width: 50%;
}
.user_wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.date {
    margin-left: 20%;
}
.username {
    padding-left: 2%;
}
.message {
    padding-top: 3%;
}
.chat_title,
.input_title {
    font-size: 35px;
}
.input_wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.button {
    width: fit-content;
}
form {
    margin-top: 2%;
}
.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}